.contact-us{
    margin: 150px 0px 90px;
    .contact-us-text{
        padding: 0px 0px 60px;
        h3{
            text-align: center;
            font-size: 43px;
            padding: 25px 0px 0px;
            font-family: Poppins;
            font-size: 40px;
            font-weight: 600;
            line-height: normal;
        }
        p{
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            margin: 20px 0px 40px;
        }
    }
    .contact-banner{
        background: #0c2c64;
        height: 550px;
        width: 100%;
        border-radius: 8px;
        z-index: 9;
        position: relative;
        overflow: hidden;
        .contact-banner-sub{
            display: flex;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
    height: 500px;
    padding: 40px 41px;
    border-radius: 6px;
    .contact-banner-info{
        h3{
            color: #fff;
        }
        p{
            color: #fff;
        }
    }
    .banner-contact-info{
        position: relative;
        ul{
            padding: 0;
            li{
                color: #fff;
                list-style: none;
                padding: 10px 0px;
                width: 62%;
                text-align: left;
                display: flex;
                align-items: center;
                span{
                    margin: 3px 14px 10px 0px;
                }
            }
        }
        .circle-1{
          border-radius: 269px;
          background: rgb(255 255 255);
          position: absolute;
          top: -21%;
          right: 99px;
          z-index: -1;
        }
        .circle-2{
          border-radius: 269px;
          width: 350px;
          height: 350px;
          position: absolute;
          bottom: -85%;
          right: -115px;
          background: rgb(255 255 255 / 59%);
        }
    }
        }
    }
    .contact-form{
        padding: 0px 30px;
        .contact-form-sub .form-row {
            display: flex;
            justify-content: space-between;
          }
          
          .contact-form-sub .form-row .ant-form-item {
            width: 100%;
          }
          
          .contact-form-sub .ant-checkbox-wrapper {
            width: 100%;
          }
          
          .contact-form-sub .ant-input {
            width: 100%;
          }
          
        .ant-form-item-label {
            transition: all 0.3s;
          }
          
          .ant-form-item-label > label {
            position: relative;
            top: 0;
            left: 0;
            transition: all 0.3s;
          }
          
          .ant-form-item-has-feedback .ant-form-item-label > label {
            position: absolute;
            top: -20px;
            left: 0;
            font-size: 12px;
            color: #1890ff;
          }
          .ant-form-item-control-input {
            position: relative;
            display: flex;
            align-items: center;
            min-height: 32px;
            &:focus{
                border: none !important;
                outline: none !important;
                box-shadow: none !important;
            }
            #options{
                width: 100%;
                display: flex;
                .ant-checkbox-wrapper {
                    margin: 15px 0px;
                    width: fit-content;
                    justify-content: start;
                    display: flex;
                }
            }
        }
          .ant-input-affix-wrapper {
            border: none;
            border-bottom: 1px solid #000;
            border-radius: 0;
          }
          .ant-input-outlined{
            border: none;
            border-bottom: 1px solid #000;
            border-radius: 0;
          }
          .ant-checkbox-wrapper {
            display: block;
            margin-bottom: 8px;
          }
          
          .ant-checkbox-inner {
            border-radius: 50%;
          }
          .contact-button{
            button{
              background: #0c2c64;
              height: 40px;
            }
          }
          
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
  .contact-us .contact-us-text{
    padding: 0;
  }
  .contact-us .contact-us-text h3{
    font-size: 26px;
  }
  .contact-us .contact-us-text p{
    margin: 6px 0 20px 0;
    font-size: 14px;
    font-weight: 400;
  }
  .contact-us .contact-banner .contact-banner-sub .contact-banner-info h3{
    font-size: 18px;
  }
  .contact-us .contact-banner .contact-banner-sub .contact-banner-info p{
    font-size: 14px;
  }
  .contact-us .contact-banner .contact-banner-sub{
    height: 410px;
  }
  .contact-us .contact-banner{
    height: 410px;
    margin-bottom: 20px;
  }
  .contact-us .contact-banner .contact-banner-sub .banner-contact-info ul li{
    width: 100%;
  }
  .contact-us .contact-form{
    padding: 0 10px;
  }
  .contact-form-sub h3{
    font-size: 18px;
  }
  .contact-form-sub form .col-md-6{
    margin: 0 !important;
  }
  .contact-form-sub form .ant-form-item {
    margin-bottom: 5px;
  }
  .contact-us .contact-form .ant-form-item-control-input #options .ant-checkbox-wrapper{
    margin: 5px 0;
  }
  .contact-us{
    margin: 100px 0 90px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .contact-us .contact-us-text{
    padding: 0;
  }
  .contact-us .contact-us-text h3{
    font-size: 24px;
  }
  .contact-us .contact-us-text p{
    margin: 6px 0 20px 0;
    font-size: 12px;
    font-weight: 400;
  }
  .contact-us .contact-banner .contact-banner-sub .contact-banner-info h3{
    font-size: 18px;
  }
  .contact-us .contact-banner .contact-banner-sub .contact-banner-info p{
    font-size: 14px;
  }
  .contact-us .contact-banner .contact-banner-sub{
    height: 410px;
  }
  .contact-us .contact-banner{
    height: 410px;
    margin-bottom: 20px;
  }
  .contact-us .contact-banner .contact-banner-sub .banner-contact-info ul li{
    width: 100%;
  }
  .contact-us .contact-form{
    padding: 0 10px;
  }
  .contact-form-sub h3{
    font-size: 18px;
  }
  .contact-form-sub form .col-md-6{
    margin: 0 !important;
  }
  .contact-form-sub form .ant-form-item {
    margin-bottom: 5px;
  }
  .contact-us .contact-form .ant-form-item-control-input #options .ant-checkbox-wrapper{
    margin: 5px 0;
  }
  .contact-us{
    margin: 100px 0 90px;
  }
}
@media only screen and (max-width: 767px) {
.contact-us .contact-us-text{
  padding: 0;
}
.contact-us .contact-us-text h3{
  font-size: 24px;
}
.contact-us .contact-us-text p{
  margin: 6px 0 20px 0;
  font-size: 12px;
  font-weight: 400;
}
.contact-us .contact-banner .contact-banner-sub .contact-banner-info h3{
  font-size: 18px;
}
.contact-us .contact-banner .contact-banner-sub .contact-banner-info p{
  font-size: 14px;
}
.contact-us .contact-banner .contact-banner-sub{
  height: 400px;
}
.contact-us .contact-banner{
  height: 400px;
  margin-bottom: 20px;
}
.contact-us .contact-banner .contact-banner-sub .banner-contact-info ul li{
  width: 100%;
}
.contact-us .contact-form{
  padding: 0 10px;
}
.contact-form-sub h3{
  font-size: 18px;
}
.contact-form-sub form .col-md-6{
  margin: 0 !important;
}
.contact-us .contact-form .ant-form-item-control-input #options .ant-checkbox-wrapper{
  margin: 8px 0;
}
}