.about-banner {
  margin: 150px 0px 20px;

  .about-banner-text-sec {
    border-radius: 30px;
    // background: linear-gradient(200deg, #D9D9D9 -18.39%, rgba(217, 217, 217, 0) 89.51%);
    .about-banner-text-bg {
      width: 41%;
      position: absolute;
      border-radius: inherit;
      height: 607px;
      right: 7.5%;
      background: linear-gradient(
        200deg,
        #d9d9d9 -18.39%,
        rgba(217, 217, 217, 0) 89.51%
      );
    }
    .about-banner-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      border-radius: 30px;
      background: #fff !important;
      border-radius: 30px;
      background: linear-gradient(
        200deg,
        #d9d9d9 -18.39%,
        rgba(217, 217, 217, 0) 89.51%
      );
      margin: 40px 20px;
      position: relative;
      .about-banner-cards-image {
        width: 190px;
        height: 190px;
        position: absolute;
        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          position: absolute;
          top: -113px;
          filter: brightness(120%);
          filter: contrast(120%);
          filter: drop-shadow(1px 6px 10px rgba(0, 0, 0, 0.25));
        }
      }
      .about-banner-cards-text {
        padding: 80px 0px 25px;
        h4 {
          color: #000;
          font-size: 22px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-align: center;
        }
        strong {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 500;
          line-height: normal;
        }
        p {
          color: #000;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
          text-align: center;
          margin: 10px 0px;
        }
      }
    }
  }
  .banner-sec-img {
    .about-banner-text {
      width: 100%;
      h2 {
        color: #000;
        font-size: 65px;
        font-style: normal;
        font-weight: 500;
        line-height: 78px;
        width: 81%;
        padding-bottom: 30px;
        padding-top: 30px;
      }
      p {
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        margin: 11px 1px 50px;
        width: 75%;
      }
      a {
        border-radius: 9px;
        background: linear-gradient(180deg, #0c2c64 0%, #0c2c64 100%);
        text-decoration: none;
        color: #fff;
        font-size: 16px;
        padding: 8px 32px;
        margin: 0px 20px 0px 0px;
      }
    }
    .banner-scrible {
      position: absolute;
      right: 36%;
      bottom: 55%;
      mix-blend-mode: darken;
      width: 29%;
      img {
        position: absolute;
        width: 250px;
      }
    }
  }
}
.about-sec-two {
  margin: 60px 0px;
  .about-sec-two-sub-text-one {
    h4 {
      color: #193250;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      text-transform: uppercase;
    }
    p {
      color: #252525;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 27px;
      letter-spacing: 1.12px;
      padding-top: 55px;
    }
  }
  .about-sec-two-sub-text-two {
    p {
      color: #252525;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 25px;
    }
  }
}

.about-timing {
  padding-bottom: 50px;
  .about-timing-sub {
    border-radius: 50px;
    background: var(--White, #fff);
    box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
    width: 85%;
    margin: auto;
    padding: 33px;
    .about-timing-cards {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      gap: 23px;
      .about-timing-cards-icon {
        background: #0c2c64;
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
      }
      .about-timing-cards-text {
        h4 {
          color: #000;
          font-size: 18px;
          font-style: normal;
          font-weight: 600;
          line-height: normal;
        }
        p {
          color: #000;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          text-align: center;
        }
      }
    }
  }
}

// .about-gallery {
//   width: 100%;
//   height: 400px; /* Set height as per your requirement */
//   overflow: hidden;
//   position: relative;
//   .about-gallery-sub {
//     position: absolute;
//     top: 0;
//     left: 0;
//     width: 100%;
//     height: 100%;

//     .marquee-container {
//       display: block;
//       justify-content: space-between;
//       overflow: hidden;
//     }

//     .marquee {
//       // display: flex;
//       align-items: center;
//     }

//     .left {
//       animation: marquee-scroll-left 5s linear infinite;
//     }

//     .right {
//       animation: marquee-scroll-right 5s linear infinite;
//     }

//     @keyframes marquee-scroll-left {
//       0% {
//         transform: translateX(100%);
//       }
//       100% {
//         transform: translateX(-100%);
//       }
//     }

//     @keyframes marquee-scroll-right {
//       0% {
//         transform: translateX(-100%);
//       }
//       100% {
//         transform: translateX(100%);
//       }
//     }
//   }
// }

.about-gallery {
    width: 100%;
    height: 550px; /* Set height as per your requirement */
    // overflow: hidden;
    position: relative;
  
    .about-gallery-sub {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
  
      .marquee-container {
        display: block;
        justify-content: space-between;
        // overflow: hidden;
        .marquee.left img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
        
        .marquee.right img {
            width: 200px;
            height: 200px;
            object-fit: contain;
        }
      }
  
      .marquee {
        width: 6px;
        // display: flex;
        align-items: center;
        animation-timing-function: linear !important;
      animation-fill-mode: forwards !important; // En
      }
  
      .left {
        animation: marquee-scroll-left 10s linear infinite;
      }
  
      .right {
        animation: marquee-scroll-right 10s linear infinite;
      }
  
      @keyframes marquee-scroll-left {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }
      }
  
      @keyframes marquee-scroll-right {
        0% {
          transform: translateX(-100%);
        }
        100% {
          transform: translateX(100%);
        }
      }
    }
  }
 .about-new{ 
  .about-new-image-sec{
    padding: 00px 0px 80px;
    .about-new-img-1 {
        width: 100%;
        height: 300px;
        margin-bottom: 0px;
        img{
                object-fit: cover;
            width: 100%;
            height: 100%;
            border-radius: 10px;
        }
    }
    .about-new-img-2{
        width: 100%;
        height: 250px;
        margin-bottom: 42px;
        margin-top: 22px;
        img{
                object-fit: cover;
            width: 100%;
    height: 100%;
    border-radius: 10px;
        }
    }
    .about-new-img-3{
        width: 100%;
        height: 250px;
        position: relative;
        bottom: 0px;
        img{
                object-fit: cover;
            width: 100%;
    height: 100%;
    border-radius: 10px;
        }
    }
    .about-new-img-4{
        width: 100%;
        height: 240px;
        img{
                object-fit: cover;
            width: 100%;
    height: 100%;
    border-radius: 10px;
        }
    }
   
  }

  .about-new-text{
    padding: 0px 40px;
    h3{
        font-size: 48px;
        line-height: 63px;
        margin: 20px 0px;
    }
    p{
        color: #000;
        font-size: 15px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        // margin: 11px 1px 50px;
        width: 100%;
    }
    .about-new-list {
        display: flex;
        padding: 0;
        li{
            box-shadow: 0px 0px 50px 0px rgba(0, 0, 0, 0.05);
            padding: 21px;
            margin: 0px 10px;
            list-style: none;
            p{
                margin: 0;
            }
        }
    }
}
 }
    