.cart-page {
  width: 100%;
  padding: 20px;
  margin: 89px 0px 80px;
  background: #fff9f7;
  h3 {
    color: #000;
    font-size: 54px;
    font-style: normal;
    font-weight: 600;
    text-align: center;
    letter-spacing: -1px;
    margin: 40px 0px;
  }
  .cart-body {
    // box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 14px 0px;
    padding: 20px;

    .cart-items {
      border-radius: 5px;
      padding: 10px;
      margin-top: 20px;

      .header {
        display: flex;
        gap: 10px;
        font-weight: bold;
        // border-bottom: 1px solid #ccc;
        padding-bottom: 10px;
        align-items: center;
        justify-content: space-between;
        .header-item {
          text-align: center;
        }
        .quantity {
          position: relative;
          left: 16%;
        }
        .price {
          position: relative;
          left: 12%;
         
        }
      }

      .cart-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0px 44px 0px 0px;
        margin: 20px 0px;
        justify-content: space-between;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #fff;
        position: relative;

        .product {
          display: flex;
          justify-content: start;
          width: 40%;
          align-items: center;
          img {
            width: 90px;
            height: 90px;
            margin-right: 10px;
          }

          .product-details {
            display: flex;
            flex-direction: column;

            .title {
              font-weight: bold;
              font-size: 14px;
              color: #000;
            }
            p{
              margin: 0;
            }

            .price {
              color: #007bff;
              margin: 11px 0px;
              a {
                text-decoration: none;
                color: #fff;
                background: #0c2c64;
                padding: 5px 18px;
                font-size: 13px;
                font-weight: 500;
                border-radius: 4px;
                
              }
            }
          }
        }
.total{
  position: relative;
  left: 13%;
}
        .quantity {
          display: flex;
          align-items: center;
          justify-content: space-between;
          // border: 1px solid #0c2c64;
          text-align: center;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 20px;
          border-radius: 4px;

          button {
            background-color: transparent;
            color: #000;
            border: none;
            padding: 5px 10px;
            cursor: pointer;
            margin: 0 16px;
            background: #fff;
            border-radius: 50pc;
            color: #0c2c64;
            border: 1px solid #0c2c64;
            &:hover{
              background: #0c2c64;
              color: #fff;
              border: 1xp solid #fff;
            }
          }
        }
        .subtotal {
          text-align: center;
          width: 41%;
          position: relative;
          left: 1%;
          font-weight: 700;
          font-size: 20px;
        }
      }
    }
  }
  .total {
    font-size: 18px;
    font-weight: 500;
    margin-top: 20px;
    text-align: center;
    margin: 0;
    color: #0c2c64;
  }
  .cart-checkout {
    box-shadow: rgba(100, 100, 111, 0.2) 0px 2px 14px 0px;
    padding: 45px 20px;
    height: 299px;
    h5 {
      font-weight: 600;
      font-size: 28px;
    }
    p {
      font-size: 16px;
      padding: 9px 2px 7px;
      font-weight: 500;
    }
    button {
      background: #0c2c64;
    }
  }
}

.order-placed {
  margin: 150px 0px 100px;
  .order-confirm {
    text-align: center;
    width: 60%;
    margin: auto;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 50px;
    p {
      font-size: 50px;
    }
    h4 {
      font-size: 30px;
      margin-bottom: 42px;
    }
    .order-list {
      ul {
        padding: 0;
        margin: 20px 0px;
        li {
          display: flex;
          width: 70%;
          margin: auto;
          justify-content: space-between;
          padding: 4px 0px;
          p {
            font-size: 16px;
          }
        }
      }
    }
    .redirect-btns {
      display: flex;
      justify-content: space-between;
      width: 71%;
      margin: auto;
      gap: 12px;
      a {
        width: 100%;
        padding-top: 12px;
        text-decoration: none;
        border-radius: 8px;
        height: 49px;
        font-size: 16px;
        background: #0c2c64;
        color: #fff;
      }
    }
  }
}

.payment-summary {
  width: 100%;
  background: #fff;
  padding: 40px 14px;
  position: relative;
  // left: 60.9%;
  margin: 20px 0px 30px;
 p {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #0c2c64;
    padding: 9px 29px 0px 0px;
  }
  
  strong {
    width: 100%;
    display: flex;
    justify-content: space-between;
    /* border-bottom: 1px solid #0c2c64; */
    padding: 14px 15px 15px 5px;
    background: #0c2c64;
    color: #fff;
    margin: 10px 0px;
    border-radius: 4px;
  }
}
.continue-shopping a {
  background: #0c2c64;
  padding: 13px 30px;
  color: #fff;
  border-radius: 8px;
  position: relative;
  top: 14px;
  left: 9px;
}
.cl-ico{
  svg{
    color: #0c2c64 !important;
  }
}

.orders-main {
  margin: 100px 0px 0px;
  h1{
    font-size: 28px;
    padding: 15px 0px;
  }
  .order-details {
    padding: 30px 0px;
    display: flex;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 20px 30px;
    margin: 20px 0px;
}
h2{
  font-size: 28px;
  padding: 15px 0px;
}
.ship-add{
  padding: 30px 0px;
  display: flex;
  justify-content: space-between;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 20px 30px;
  margin: 20px 0px;
}
.orders-main-lis{
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  
  li{
    width: 32%;
    margin: 10px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 10px;
    border-radius: 4px;
    img{
      border-radius: 4px;
    }
    p{
      font-size: 18px;
      margin: 0;
    
    }
  }
}

}
.wish-list-main {
  display: flex;
  justify-content: start;
  gap: 20px;
  flex-wrap: wrap;
  a{
    width: 23%;
  }
  .cart-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 0px 0 0px  !important;
    margin: 20px 0px;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #fff;
    position: relative;
    width: 97%;
    .product {
      display: flex;
      justify-content: start;
      width: 100% !important;
      padding: 0 !important;
      align-items: center;
      flex-wrap: wrap;
      flex-direction: column;
      img {
        width: 100% !important;
        height: 202px !important;
        margin-right: 10px;
    }
    .product-details {
      display: flex;
      flex-direction: column;
      margin: 15px !important;
      justify-content: flex-end !important;
      align-items: flex-end !important;
      gap: 7px !important;
      width: 85%;
      .title-sec {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
  }
  }
}
}

@media screen and (max-width:767px){
  .cart-page .cart-body .cart-items .cart-item {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 16px 44px 9px 18px;
    margin: 20px 0px;
    justify-content: space-between;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background: #fff;
    position: relative;
}
  .payment-summary {
    width: 100%;
    background: #fff;
    padding: 40px 14px;
    position: relative;
    margin: 60px 0px 30px;
}
.cart-page-sec{
  .col-md-12{
    padding: 0;
  }
  .cart-page .cart-body .cart-items {
    border-radius: 5px;
    padding: 0;
    margin-top: 20px;
}
}
  .orders-main {
    margin: 100px 0px;
    h1{
      font-size: 20px;
      padding: 5px 0px;
    }
    .order-details {
     flex-wrap: wrap;
     p{
      width: 100%;
     }
  }
  h2{
    font-size: 28px;
    padding: 15px 0px;
  }
  .ship-add{
   flex-wrap: wrap;
   p{
    width: 100%;
   }
  }
  .orders-main-lis{
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    padding: 0;
    
    li{
      width: 100%;
      margin: 10px;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      padding: 10px;
      border-radius: 4px;
      img{
        border-radius: 4px;
      }
      p{
        font-size: 18px;
        margin: 0;
      
      }
    }
  }
  }
  .cart-body {
    padding: 0px !important;
.cart-items{
  .header{
    display: none !important;
  }
}
  .cart-item {
    flex-wrap: wrap;
    position: relative;
    
    .product {
      display: flex;
      justify-content: start;
      width: 100% !important;
      align-items: center;
  }
  .quantity {
    border-radius: 4px;
    width: 100% !important;
}
.total {
  position: relative;
  left: 5% !important;
  margin: 10px 0px;
}
.subtotal {
  text-align: center;
  width: 28%;
  position: relative;
  left: 0%;
}
.price{
  position: relative;
  right: 25px;
}
}
  }
  .wish-list-main {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
    a{
      width: 48%;
    }
    .cart-item {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 0px 0 0px  !important;
      margin: 1px 0px !important;
      justify-content: space-between;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: #fff;
      position: relative;
      width: 100%;
      .product {
        display: flex;
        justify-content: start;
        width: 100% !important;
        padding: 0 !important;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        img {
          width: 100% !important;
          height: 120px !important;
          margin-right: 10px;
      }
      .product-details {
        display: flex;
        flex-direction: column;
        margin: 15px !important;
        justify-content: flex-end !important;
        align-items: flex-end !important;
        gap: 7px !important;
        width: 85%;
        .title-sec {
          width: 100%;
          display: flex;
          justify-content: space-between;
      }
    }
    }
  }
  }
  .cart-page .cart-body .cart-items .cart-item .product .product-details .title {
    font-weight: bold;
    font-size: 13px;
    width: fit-content;
}
.cart-items{
  padding: 0 !important;
}
.col-md-11.m-auto{
  padding: 0 !important;

}
.cart-page h3 {
  color: #000;
  font-size: 34px;
  font-style: normal;
  font-weight: 600;
  text-align: center;
  letter-spacing: -1px;
  margin: 10px 0px;
}
}

@media screen and (min-width:767px) and (max-width:992px){
  .wish-list-main {
    display: flex;
    justify-content: start;
    gap: 5px;
    flex-wrap: wrap;
    a{
      width: 48%;
    }
    .cart-item {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 0px 0 0px  !important;
      margin: 1px 0px !important;
      justify-content: space-between;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: #fff;
      position: relative;
      width: 100%;
      .product {
        display: flex;
        justify-content: start;
        width: 100% !important;
        padding: 0 !important;
        align-items: center;
        flex-wrap: wrap;
        flex-direction: column;
        img {
          width: 100% !important;
          height: 120px !important;
          margin-right: 10px;
      }
      .product-details {
        display: flex;
        flex-direction: column;
        margin: 15px !important;
        justify-content: flex-end !important;
        align-items: flex-end !important;
        gap: 7px !important;
        width: 85%;
        .title-sec {
          width: 100%;
          display: flex;
          justify-content: space-between;
      }
    }
    }
  }
  }
    .cart-page .cart-body .cart-items .cart-item .product .product-details .title {
      font-weight: bold;
      font-size: 13px;
      width: fit-content;
  }
    .cart-page .cart-body .cart-items .cart-item {
      display: flex;
      gap: 10px;
      align-items: center;
      padding: 16px 44px 9px 18px;
      margin: 20px 0px;
      justify-content: space-between;
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
      background: #fff;
      position: relative;
  }
    .payment-summary {
      width: 100%;
      background: #fff;
      padding: 40px 14px;
      position: relative;
      margin: 60px 0px 30px;
  }
  .cart-page-sec{
    .col-md-12{
      padding: 0;
    }
    .cart-page .cart-body .cart-items {
      border-radius: 5px;
      padding: 0;
      margin-top: 20px;
  }
  }
    .orders-main {
      margin: 100px 0px;
      h1{
        font-size: 20px;
        padding: 5px 0px;
      }
      .order-details {
       flex-wrap: wrap;
       p{
        width: 100%;
       }
    }
    h2{
      font-size: 28px;
      padding: 15px 0px;
    }
    .ship-add{
     flex-wrap: wrap;
     p{
      width: 100%;
     }
    }
    .orders-main-lis{
      display: flex;
      flex-wrap: wrap;
      justify-content: start;
      padding: 0;
      
      li{
        width: 100%;
        margin: 10px;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 10px;
        border-radius: 4px;
        img{
          border-radius: 4px;
        }
        p{
          font-size: 18px;
          margin: 0;
        
        }
      }
    }
    }
    .cart-body {
      padding: 0px !important;
  .cart-items{
    .header{
      display: none !important;
    }
  }
    .cart-item {
      flex-wrap: wrap;
      position: relative;
      
      .product {
        display: flex;
        justify-content: start;
        width: 100% !important;
        align-items: center;
    }
    .quantity {
      border-radius: 4px;
      width: 100% !important;
  }
  .total {
    position: relative;
    left: 5% !important;
    margin: 10px 0px;
  }
  .subtotal {
    text-align: center;
    width: 28%;
    position: relative;
    left: 0%;
  }
  .price{
    position: relative;
    right: 25px;
  }
  }
    }
    .wish-list-main {
      display: flex;
      justify-content: start;
      gap: 20px;
      flex-wrap: wrap;
      a{
        // width: 100%;
        text-decoration:none;
        color: #000;
      }
      .cart-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0px 0 0px  !important;
        margin: 20px 0px;
        justify-content: space-between;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #fff;
        position: relative;
        width: 97%;
        .product {
          display: flex;
          justify-content: start;
          width: 100% !important;
          padding: 0 !important;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column;
          img {
            width: 100% !important;
            height: 202px !important;
            margin-right: 10px;
        }
        .product-details {
          display: flex;
          flex-direction: column;
          margin: 15px !important;
          justify-content: flex-end !important;
          align-items: flex-end !important;
          gap: 7px !important;
          width: 85%;
          .title-sec {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
      }
      }
    }
    }
  }
  @media screen and (min-width:992px) and (max-width:1200px){
    .wish-list-main {
      display: flex;
      justify-content: start;
      gap: 20px;
      flex-wrap: wrap;
      a{
        width: 30%;
        text-decoration:none;
        color: #000;
      }
      .cart-item {
        display: flex;
        gap: 10px;
        align-items: center;
        padding: 0px 0 0px  !important;
        margin: 20px 0px;
        justify-content: space-between;
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        background: #fff;
        position: relative;
        width: 97%;
        .product {
          display: flex;
          justify-content: start;
          width: 100% !important;
          padding: 0 !important;
          align-items: center;
          flex-wrap: wrap;
          flex-direction: column;
          img {
            width: 100% !important;
            height: 202px !important;
            margin-right: 10px;
        }
        .product-details {
          display: flex;
          flex-direction: column;
          margin: 15px !important;
          justify-content: flex-end !important;
          align-items: flex-end !important;
          gap: 7px !important;
          width: 85%;
          .title-sec {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }
      }
      }
    }
    }
  }