.menu-banner {
    height: 400px;
    padding-top: 96px;
    .menu-banner-sub{
        width: 100%;
        height: 400px;
        .menu-banner-sec{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 350px;
            h2{
                font-size: 60px;
                color: #fff;
            }
        }
        .bd-icon {
            background: #fff;
            padding: 14px;
            border-radius: 38px;
            font-size: 17px;
        }
       
        .bd-icon {
            background: #0c2c64;
            padding: 10px;
            border-radius: 38px;
            font-size: 15px;
            svg{
                color: #fff;
            }
        }
        
        span.bd-item {
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            padding: 0px 7px;
            &:hover{
                background:none;
            }
        }
        
        a.ant-breadcrumb-link.bd-item {
            font-size: 22px;
            text-decoration: none;
            padding: 20px 0px;
        }
        li.ant-breadcrumb-separator {
            position: relative;
            color: #0c2c64;
            top: 22px;
            font-size: 21px;
            right: 5px;
        }
    }
}

.menu-product{
    padding: 180px 0px 80px;
    .menu-product-card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 9px;
        margin: 9px 0px;
        .menu-product-card-img {
            width: 100%;
            height: 260px;
            border-radius: 4px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
        }
        .menu-product-card-text {
            padding: 20px 8px;
            .title{
                font-size: 24px;
    font-family: "Poppins", sans-serif;;
    h3{
        font-size: 20px;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        height: fit-content;
        margin: 10px 0px;
    }
            }

        }
        .price{
            h3{
                font-family: "Poppins", sans-serif;;
    font-size: 18px;
    span{
        text-decoration: line-through;
    font-size: 14px;
    color: #0c2c64;
    }
            }
        }
        .menu-product-sec {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rating {
                padding: 10px 0px 4px;
                span{
                    padding: 0px 2px;
                }
                svg {
                    font-size: 21px;
                    color: #dcdc5c;
                }
            }
            .product-card-actions{
                display: flex;
                justify-content: space-between;
                align-items: center;
                span {
                    background: #0c2c64;
                    padding: 9px;
                    border-radius: 4px;
                }
                svg {
                    color: #fff;
                    font-size: 15px;
                    
                }
            }
        }
        
        
    }
}
.menu-product-sub{
    position: relative;
    button.ant-btn.css-dev-only-do-not-override-42nv3w.ant-btn-default.filter-btn {
        background: #0c2c64;
        color: #fff;
        width: 10%;
        margin: auto;
        position: absolute;
        right: 9%;
        top: -46px;
    }
}

.services-main {
   
        padding-bottom: 120px;
       
        width: 100%;
        height: 730px;
        background-color: #fff9f7;
        background-size: cover;
        background-position: top;
    
    padding-bottom: 120px;
    .services-main-title {
        margin: 98px 0px 0;
        padding: 80px 0px 0px;
    
    }
    .service-card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        margin: 15px auto;
        width: 92%;
        a{
            color: #000;
            .service-image {
                width: 100%;
                height: 240px;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }
            .service-main-text {
                padding: 15px;
                h3 {
                    font-size: 25px;
                    font-weight: 500;
                    padding: 10px 0px;
                }
                p {
                    font-size: 15px;
                    padding-bottom: 18px;
                    line-height: 26px;
                }
            }
        }
    }
}




@media screen and (min-width:991px) and (max-width:1200px){
    .menu-product .menu-product-card .menu-product-sec .rating svg {
        font-size: 14px;
        color: #dcdc5c;
    }
    .menu-product .menu-product-card .menu-product-sec .product-card-actions span {
        background: #0c2c64;
        padding: 4px;
        border-radius: 4px;
        font-size: 8px;
        margin: 3px !important;
    }
}
@media screen and (min-width:1200px) and (max-width:1400px){
    .menu-product .menu-product-card .menu-product-sec .rating svg {
        font-size: 16px;
        color: #dcdc5c;
    }
}
@media screen and (max-width:767px){
    .menu-product{
        padding: 50px 0px 80px;
    }
    .menu-product-sub button.ant-btn.css-dev-only-do-not-override-42nv3w.ant-btn-default.filter-btn {
        background: #0c2c64;
        color: #fff;
        width: 34%;
        margin: auto;
        position: absolute;
        right: 11%;
        top: -36px;
    }
    .services-main {
        height: fit-content;
        padding-bottom: 80px;
    }
    .services-main .services-main-title {
        margin: 0px 0px 0;
        padding: 80px 0px 0px;
    }
}
@media screen and (min-width:768px) and (max-width:992px){
    .menu-product-sub button.ant-btn.css-dev-only-do-not-override-42nv3w.ant-btn-default.filter-btn {
        background: #0c2c64;
        color: #fff;
        width: 16%;
        margin: auto;
        position: absolute;
        right: 9%;
        top: -46px;
    }
}




:where(.css-dev-only-do-not-override-42nv3w).ant-tabs{
    overflow-x: hidden;
}