.menu-banner {
    height: 400px;
    padding-top: 96px;
    .menu-banner-sub{
        width: 100%;
        height: 400px;
        .menu-banner-sec{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            height: 350px;
            h2{
                font-size: 60px;
                color: #fff;
            }
        }
        .bd-icon {
            background: #fff;
            padding: 14px;
            border-radius: 38px;
            font-size: 17px;
        }
       
        .bd-icon {
            background: #AD343E;
            padding: 10px;
            border-radius: 38px;
            font-size: 15px;
            svg{
                color: #fff;
            }
        }
        
        span.bd-item {
            font-size: 18px;
            text-decoration: none;
            color: #fff;
            padding: 0px 7px;
            &:hover{
                background:none;
            }
        }
        
        a.ant-breadcrumb-link.bd-item {
            font-size: 22px;
            text-decoration: none;
            padding: 20px 0px;
        }
        li.ant-breadcrumb-separator {
            position: relative;
            color: #ff4d4f;
            top: 22px;
            font-size: 21px;
            right: 5px;
        }
    }
}

.menu-product{
    padding: 180px 0px 80px;
    .menu-product-card {
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        padding: 9px;
        margin: 9px 0px;
        .menu-product-card-img {
            width: 100%;
            height: 260px;
            border-radius: 4px;
            img{
                width: 100%;
                height: 100%;
                border-radius: 4px;
            }
        }
        .menu-product-card-text {
            padding: 20px 8px;
            .title{
                font-size: 24px;
    font-family: 'DM Sans';
    h3{
        font-size: 20px;
    }
            }

        }
        .price{
            h3{
                font-family: 'DM Sans';
    font-size: 18px;
    span{
        text-decoration: line-through;
    font-size: 14px;
    color: #AD343E;
    }
            }
        }
        .menu-product-sec {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .rating {
                padding: 10px 0px 4px;
                span{
                    padding: 0px 2px;
                }
                svg {
                    font-size: 21px;
                    color: #dcdc5c;
                }
            }
            .product-card-actions{
                span {
                    background: black;
                    padding: 9px;
                    border-radius: 4px;
                }
                svg {
                    color: #fff;
                    font-size: 15px;
                }
            }
        }
        
        
    }
}