.dashboard-content {
  width: 100%;
  padding: 20px;
  .dashboard-header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .add-btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  }
  .menu-cards{
    .image-div{
      .selected-image-index{
        width: 100px !important;
      }
      .delete-img-button{
        width: 10%;
        height: 10%;
      }
    }
  }
}
.category-select-dropDown{
  height: 39px;
  width: 48%;
}


// coupon code 
/* CouponsList.css */

  .formfiels {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 15px 0px;
    label{
      font-weight: 600;
    }
    input{
      width: 65%;
      height: 40px;
    }
}

// coupon code 