.dashboard-content {
  width: 100%;
  padding: 20px;
  .dashboard-header{
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    .add-btn{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
  }
}
.category-select-dropDown{
  height: 39px;
  width: 48%;
}